@import url('https://fonts.googleapis.com/css?family=Montserrat|Notable'); :root {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.body-style {
    max-width: 1500px;
    margin: auto;
    background-color: black;
    color: white;
}

.header_logo {
    font-family: 'Notable', sans-serif;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
}

.bg-dark {
    background-color: black;
}

.dropdown-menu {
    background-color: #343a40;
}

.dropdown-menu a {
    color: white;
}

.banner {
    height: 85vh;
    background-image: url('../img/space.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    color: wheat;
}

.banner .button_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: black;
    background-color: wheat;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

#solar_container p {
    margin: 32px 32px 64px 32px;
    text-align: justify;
}

#planets_container h3 {
    margin-right: 10px;
    text-align: center;
    background-color: #343a40;
    padding-left: 25px;
}

#planets_container img {
    padding-left: 40px;
    display: block;
    width: 30%;
}

#planets_container p {
    padding: 40px;
    text-align: justify;
}

@media (min-width: 600px) {
    #planets_container div {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .parallax {
        background-image: url('../img/solar_system.jpg');
        min-height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

#form-footer {
    padding: 60px;
    /*height: 0vh;*/
    background-image: url('../img/contact.jpg');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

#footer_container input {
    max-width: 300px;
}

#exampleModalLongTitle {
    color: black;
}

#license_context {
    color: black;
}

#panel, #checker {
    padding: 5px;
    text-align: center;
    border: solid 1px #c3c3c3;
    color: wheat;
    background-color: black;
}

#panel {
    padding: 10px;
    display: none;
    background-color: black;
}

#panel div {
    padding: 10px;
}
